<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/computer_logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="item">
        <h1 class="t1">Diseño</h1>
        <h1 class="t2">Multimedia</h1>
      </div>
      <div class="item">
        <nav>
          <ul style="list-style: none">
            <li>
              <a href="../index.html">Inicio</a>
              <a href="nosotros.html">Nosotros</a>
              <a href="servicios.html">Servicios</a>
              <a href="contacto.html" class="azul">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container1">
      <div class="item1">
        <h2>Suscribete a nuestro boletín</h2>
      </div>
      <div class="item1">
        <input
          type="email"
          name="suscribir"
          id="suscribir"
          placeholder="Ingrese el E-mail..."
        />
        <button class="btn">Suscribirse</button>
      </div>
    </div>
    <section class="main3">
      <form action="form">
        <h2>Contacto</h2>
        <label for="nombre">Nombre</label><br />
        <input
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Ingresa tu nombre"
        /><br />
        <label for="email">E-mail</label><br />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Ingresa tu e-mail"
        /><br />
        <label for="telefono">Telefono</label><br />
        <input
          type="text"
          name="telefono"
          id="telefono"
          placeholder="Ingresa tu telefono"
        /><br />
        <label for="celular">Celular</label><br />
        <input
          type="text"
          name="celular"
          id="celular"
          placeholder="Ingresa tu celular"
        /><br />
        <label for="mensaje">Mensaje</label><br />
        <textarea
          name="mensaje"
          id="mensaje"
          cols="30"
          rows="10"
          placeholder="Ingresa un mensaje"
        ></textarea
        ><br />
        <button type="submit">Enviar</button>
      </form>
      <div class="container7">
        <div class="item7">
          <h1 class="titulo2">Que hacemos</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit. Donec
            varius auctor lacus <br />nec feugiat. Phasellus sit amet ex ipsum.
            <br />Praesent pharetra tincidunt tempor. Etiam <br />velit eros,
            dapibus eget porta in, lacinia et <br />magna
          </p>
        </div>
        <img src="../assets/images/images/mapaGoogle.png" alt="" />
      </div>
    </section>
    <footer>Graphel desarrollo web, Copyright © 2017</footer>
  </body>
</html>
