<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nosotros</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/computer_logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="item">
        <h1 class="t1">Diseño</h1>
        <h1 class="t2">Multimedia</h1>
      </div>
      <div class="item">
        <nav>
          <ul style="list-style: none">
            <li>
              <a href="../index.html">Inicio</a>
              <a href="nosotros.html">Nosotros</a>
              <a href="servicios.html">Servicios</a>
              <a href="contacto.html" class="azul">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container1">
      <div class="item1">
        <h2>Suscribete a nuestro boletín</h2>
      </div>
      <div class="item2">
        <input
          type="email"
          name="suscribir"
          id="suscribir"
          placeholder="Ingrese el E-mail..."
        />
        <button class="btn">Suscribirse</button>
      </div>
    </div>
    <section class="main1">
      <div class="container4">
        <div class="item5">
          <h1 class="titulo">Nosotros</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            varius auctor lacus nec feugiat. Phasellus <br />sit amet ex ipsum.
            Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget
            porta in, lacinia et <br />magna. Nam eget eros non orci consectetur
            congue at ac aungue. Proin eget arcu in enim feugiat
            <br />ultricies. Curabitur maximus metus nec metus pretium viverra
            at et orci. Integer hendrerit ante ut placerat <br />cursus.
          </p>
        </div>
        <div class="item6">
          <p>
            Aliquam eget pharetra diam. Nulla placerat lorem at turpis tempor,
            vel ultrices dui tincidunt. Proin <br />quis egestas lorem. Mauris
            vehicula lectus odio, sit amet dictum justo feugiat a. Praesent id
            dictum <br />lacus. Sed ullamcorper id erat ut dictum. Fusce
            porttitor lorem sapien, in aliquet sapien convallis et. <br />Donec
            nec mauris nulla. Curabitur cursos semper odio, et hendrerit ante.
            Nunc at cursos ante. <br />Maecenas gravida ligula ut efficitur
            suscipit. Nulla id turpis varius, pretium nunc sed, fermentum sem.
            <br />Sed lacinia nunc non interdum pellentesque.
          </p>
        </div>
        <img src="../assets/images/images/891.jpg" alt="" />
      </div>
      <div class="container3">
        <div class="item7">
          <h1 class="titulo2">Que hacemos</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit. Donec
            varius auctor lacus <br />nec feugiat. Phasellus sit amet ex ipsum.
            <br />Praesent pharetra tincidunt tempor. Etiam <br />velit eros,
            dapibus eget porta in, lacinia et <br />magna
          </p>
        </div>
      </div>
    </section>
    <footer>Graphel desarrollo web, Copyright © 2017</footer>
  </body>
</html>
