<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/computer_logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="item">
        <h1 class="t1">Diseño</h1>
        <h1 class="t2">Multimedia</h1>
      </div>
      <div class="item">
        <nav>
          <ul style="list-style: none">
            <li>
              <a href="../index.html">Inicio</a>
              <a href="nosotros.html">Nosotros</a>
              <a href="servicios.html">Servicios</a>
              <a href="contacto.html" class="azul">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container1">
      <div class="item1">
        <h2>Suscribete a nuestro boletín</h2>
      </div>
      <div class="item1">
        <input
          type="email"
          name="suscribir"
          id="suscribir"
          placeholder="Ingrese el E-mail..."
        />
        <button class="btn">Suscribirse</button>
      </div>
    </div>
    <section class="main2">
      <div class="container5">
        <h2>Servicios</h2>
        <div class="item8">
          <h3>Diseño Web</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi
            augue, viverra sit amet <br />ultricies at, vulputate id lorem.
            Nulla facilisi. <br />Precio: $300000 - 1000000
          </p>
        </div>
        <div class="item8">
          <h3>Desarrollo Web</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi
            augue, viverra sit amet <br />ultricies at, vulputate id lorem.
            Nulla facilisi. <br />Precio desde: $1000000
          </p>
        </div>
        <div class="item8">
          <h3>Hosting Web</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi
            augue, viverra sit amet <br />ultricies at, vulputate id lorem.
            Nulla facilisi. <br />Precio: $300000
          </p>
        </div>
      </div>
      <div class="container6">
        <div class="item7">
          <h1 class="titulo2">Que hacemos</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit. Donec
            varius auctor lacus <br />nec feugiat. Phasellus sit amet ex ipsum.
            <br />Praesent pharetra tincidunt tempor. Etiam <br />velit eros,
            dapibus eget porta in, lacinia et <br />magna
          </p>
        </div>
      </div>
    </section>
    <footer>Graphel desarrollo web, Copyright © 2017</footer>
  </body>
</html>
